.showMemberBox {
  background-color: #d3d3d3;
  margin: 20px 10px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  color: #7a7a7a;
}
.totalProfile {
  display: flex;
  margin: 20px 20px;
}
.profileImgAndName {
  padding-right: 20px;
  width: 80px;
}
.profileImage {
  position: relative;
  display: flex;
  justify-content: center;
}
.profileImage img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  // margin-left: 10px;
}
.checkIcon {
  position: absolute;
  top: 28px;
  right: 5px;
}
.checkIcon svg {
  color: #20d600;
  width: 20px !important;
}
.profileName {
  font-size: 14px;
  text-align: center;
}
.extraNumber {
  max-width: 60px;
  width: 70px;
  height: 60px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid #3f50b5;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 24px;
    color: #3f50b5;
    position: relative;
    bottom: 3px;
  }
}
