$mainBlueColor:#3f50b5;

.GroupTitleTextBox{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.MuiFormControl-root{
    width: 100%;
    display: block;
}
.discardBtn{
    border-radius: 5px;
    border-color: $mainBlueColor;
    color: $mainBlueColor;
    background-color: white;
    padding: 7px 37px;
    font-weight: bold;
    cursor: pointer;
}
.createBtn{
    border-radius: 3px;
    border-color: $mainBlueColor;
    padding: 7px 37px;
    font-weight: bold;
    color: white;
    background-color: $mainBlueColor;
    cursor: pointer;
    margin-left: 10px;
    border-style: hidden;
}
.discardBtn:focus,.createBtn:focus{
    outline: 0;
}
.totalBtn{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;
}
.createBtn:active{
   border-style: hidden !important;
}
.notFound{
    border: 3px solid $mainBlueColor;
    border-radius: 5px;
    width: 50%;
    margin: 70px auto;
    box-shadow: -1px -1px 10px 1px $mainBlueColor;

}
.notFound p{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: $mainBlueColor;
}