.profileImg{
    width: 45px;
    height: 50px;
    border-radius: 2px;
}
.totalImg{
    position: relative;
}
.totalProfile{
    display: flex;
    flex-direction: row;  
    margin: 10px;    
    
}
.styleDetail{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}
.profileName{
    font-weight: bold;
    font-size:14px;
}
.workingSide{
    color: #afafaf;
    font-size:13px
}
.onLineStatus{
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background-color:#0db40d;
    position: absolute;
    bottom: 0px;
    right: 0px;
   
}
.offLineStatus{
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background-color:gray;
    position: absolute;
    bottom: 0px;
    right: 0px;
}