$mainBlueColor: #4051b5;

.GroupTitleTextBox {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.MuiFormControl-root {
  width: 100%;
  display: block;
}
.totalButton {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 50px;
  .MuiButton-root {
    text-transform: none;
    padding: 5px 40px;
    margin-left: 15px;
  }
  .MuiButton-outlinedPrimary {
    border: 1px solid $mainBlueColor;
  }
  .MuiButton-outlinedPrimary:hover {
    border: 1px solid $mainBlueColor;
  }
  .MuiButton-label {
    font-weight: bold;
  }
  .MuiButton-contained.Mui-disabled {
    color: rgba(255, 255, 255, 0.787);
    box-shadow: none;
    background-color: rgba(64, 82, 181, 0.472);
  }
}
.notFound {
  border: 3px solid $mainBlueColor;
  border-radius: 5px;
  width: 50%;
  margin: 70px auto;
  box-shadow: -1px -1px 10px 1px $mainBlueColor;
}
.notFound p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: $mainBlueColor;
}
